@model IEnumerable<WebHotelli.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_ini)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_usu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_usuarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_ini)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_usu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_usuarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cat }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cat })
        </td>
    </tr>
}

</table>
